<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accordion ~ Fire UI</title>
    <meta name="title" content="Accordion ~ Fire UI">
    <meta name="description" content="Quickly design your website with Fire UI, an open-source project aimed to contain everything that is frequently used on the frontend. Fire UI supports a single folder for certain features to reduce CSS file size.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://fire-ui.github.io/">
    <meta property="og:title" content="Accordion ~ Fire UI">
    <meta property="og:description" content="Quickly design your website with Fire UI, an open-source project aimed to contain everything that is frequently used on the frontend. Fire UI supports a single folder for certain features to reduce CSS file size.">
    <meta property="og:image" content="https://fire-ui.github.io/logo.jpg">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://fire-ui.github.io/">
    <meta property="twitter:title" content="Accordion ~ Fire UI">
    <meta property="twitter:description" content="Quickly design your website with Fire UI, an open-source project aimed to contain everything that
    is frequently used on the frontend. Fire UI supports a single folder for certain features to reduce CSS file size.">
    <meta property="twitter:image" content="https://fire-ui.github.io/logo.jpg">
    <link rel="stylesheet" type="text/css" href="../FireUI.css">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <script src="../FireUI.js"></script>
    <link rel="shortcut icon" href="../logo.jpg" type="image/x-icon">
</head>
<body theme="light">
    <div class="fixed-sidenav theme-reverse">
        <a class="fixed-sidenav-item sidenav-title" href="../index.html">Fire UI</a>
        <span class="fixed-sidenav-dropdown-btn" data-dropdown = "gettingStarted">Getting Started <span class="dropdown-icon"></span></span>
        <div class="fixed-sidenav-dropdown-content" id="gettingStarted">
            <a class="fixed-sidenav-item" href="../getting-started/introduction.html">Introduction</a>
            <a class="fixed-sidenav-item" href="../getting-started/download.html">Download</a>
            <a class="fixed-sidenav-item" href="../getting-started/customize.html">Customize</a>
        </div>
        <span class="fixed-sidenav-dropdown-btn" data-dropdown="layout">Layout <span class="dropdown-icon"></span></span>
        <div class="fixed-sidenav-dropdown-content" id="layout">
            <a href="../Layout/container.html" class="fixed-sidenav-item">Container</a>
            <a href="../Layout/grid.html" class="fixed-sidenav-item">Grid</a>
        </div>
        <span class="fixed-sidenav-dropdown-btn" data-dropdown="component">Components <span class="dropdown-icon"></span></span>
        <div class="fixed-sidenav-dropdown-content fixed-sidenav-dropdown-active" id="component">
            <a href="../components/accordion.html" class="fixed-sidenav-item">Accordion</a>
            <a href="../components/box.html" class="fixed-sidenav-item">Box</a>
            <a href="../components/buttons.html" class="fixed-sidenav-item">Buttons</a>
            <a href="../components/code.html" class="fixed-sidenav-item">Code</a>
            <a href="../components/color_theme.html" class="fixed-sidenav-item">Color and theme</a>
            <a href="../components/form.html" class="fixed-sidenav-item">Form</a>
            <a href="../components/modal.html" class="fixed-sidenav-item">Modal</a>
            <a href="../components/navbar.html" class="fixed-sidenav-item">Navigation bar</a>
            <a href="../components/slideshow.html" class="fixed-sidenav-item">Slideshow</a>
            <a href="../components/spacing.html" class="fixed-sidenav-item">Spacing</a>
            <a href="../components/table.html" class="fixed-sidenav-item">Table</a>
            <a href="../components/tabs.html" class="fixed-sidenav-item">Tabs</a>
            <a href="../components/tooltip.html" class="fixed-sidenav-item">Tooltip</a>
        </div>
    </div>
    <div class="main-page">
        <h1>Accordion</h1>
        <p>Show and hide HTML content by using Fire UI Accordion. To use only Fire UI accordion feature, copy and paste following stylesheet and script tag into your
             <code>head</code> element to load Fire UI accordion CSS and JavaScript.</p>
        <pre>
&#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;https://unpkg.com/@fire-ui/fire-ui@0.1.1/src/feature/Accordion/accordion.css&#x22;&#x3E;
&#x3C;script src=&#x22;https://unpkg.com/@fire-ui/fire-ui@0.1.1/src/feature/Accordion/accordion.js&#x22;&#x3E;&#x3C;/script&#x3E;</pre>
        <div class="division">
            <h2>Example</h2>
            <p>Click on the "Open section" buttons below to see how accordions work:</p>
            <div class="accordion btn btn-dark" data-panel = "Section1">Open section 1</div>
            <div class="accordion-panel" id="Section1">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                     sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="accordion btn btn-dark" data-panel = "Section2">Open section 2</div>
            <div class="accordion-panel theme-reverse" id="Section2">
                <h3>Form inside accordion</h3>
                <div class="form-group">
                    <p class="form-label">Username:</p>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <p class="form-label">Password:</p>
                    <input type="password" class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" value="Register" class="form-control theme-adjust">
                </div>
            </div>
            <pre>
&#x3C;div class=&#x22;accordion btn btn-dark&#x22; data-panel = &#x22;Section1&#x22;&#x3E;Open section 1&#x3C;/div&#x3E;
&#x3C;div class=&#x22;accordion-panel&#x22; id=&#x22;Section1&#x22;&#x3E;
    &#x3C;p&#x3E;
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    &#x3C;/p&#x3E;
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;accordion btn btn-dark&#x22; data-panel = &#x22;Section2&#x22;&#x3E;Open section 2&#x3C;/div&#x3E;
&#x3C;div class=&#x22;accordion-panel theme-reverse&#x22; id=&#x22;Section2&#x22;&#x3E;
    &#x3C;h3&#x3E;Form inside accordion&#x3C;/h3&#x3E;
    &#x3C;div class=&#x22;form-group&#x22;&#x3E;
        &#x3C;p class=&#x22;form-label&#x22;&#x3E;Username:&#x3C;/p&#x3E;
        &#x3C;input type=&#x22;text&#x22; class=&#x22;form-control&#x22;&#x3E;
    &#x3C;/div&#x3E;
    &#x3C;div class=&#x22;form-group&#x22;&#x3E;
        &#x3C;p class=&#x22;form-label&#x22;&#x3E;Password:&#x3C;/p&#x3E;
        &#x3C;input type=&#x22;password&#x22; class=&#x22;form-control&#x22;&#x3E;
    &#x3C;/div&#x3E;
    &#x3C;div class=&#x22;form-group&#x22;&#x3E;
        &#x3C;input type=&#x22;submit&#x22; value=&#x22;Register&#x22; class=&#x22;form-control theme-adjust&#x22;&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;
            </pre>
        </div>
        <div class="division">
            <h2><code>accordion</code> class</h2>
            <p><code>accordion</code> class actually act as a "button" for its panel.</p>
        </div>
        <div class="division">
            <h2><code>accordion-panel</code> class</h2>
            <p>Content for accordion is stored in <code>accordion-panel</code> class.</p>
        </div>
        <div class="division">
            <h2>Accordion panel showed as page loaded.</h2>
            <p>Use <code>accordion-active</code> class will automatically open up the panel. Example:</p>
            <div class="accordion btn btn-dark" data-panel = "Section3">Open section 1</div>
            <div class="accordion-panel accordion-active" id="Section3">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                     sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="accordion btn btn-dark" data-panel = "Section4">Open section 2</div>
            <div class="accordion-panel theme-reverse" id="Section4">
                <h3>Form inside accordion</h3>
                <div class="form-group">
                    <p class="form-label">Username:</p>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <p class="form-label">Password:</p>
                    <input type="password" class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" value="Register" class="form-control theme-adjust">
                </div>
            </div>
            <pre>
&#x3C;div class=&#x22;accordion btn btn-dark&#x22; data-panel = &#x22;Section1&#x22;&#x3E;Open section 1&#x3C;/div&#x3E;
&#x3C;div class=&#x22;accordion-panel accordion-active&#x22; id=&#x22;Section1&#x22;&#x3E;
    &#x3C;p&#x3E;
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    &#x3C;/p&#x3E;
&#x3C;/div&#x3E;
&#x3C;div class=&#x22;accordion btn btn-dark&#x22; data-panel = &#x22;Section2&#x22;&#x3E;Open section 2&#x3C;/div&#x3E;
&#x3C;div class=&#x22;accordion-panel theme-reverse&#x22; id=&#x22;Section2&#x22;&#x3E;
    &#x3C;h3&#x3E;Form inside accordion&#x3C;/h3&#x3E;
    &#x3C;div class=&#x22;form-group&#x22;&#x3E;
        &#x3C;p class=&#x22;form-label&#x22;&#x3E;Username:&#x3C;/p&#x3E;
        &#x3C;input type=&#x22;text&#x22; class=&#x22;form-control&#x22;&#x3E;
    &#x3C;/div&#x3E;
    &#x3C;div class=&#x22;form-group&#x22;&#x3E;
        &#x3C;p class=&#x22;form-label&#x22;&#x3E;Password:&#x3C;/p&#x3E;
        &#x3C;input type=&#x22;password&#x22; class=&#x22;form-control&#x22;&#x3E;
    &#x3C;/div&#x3E;
    &#x3C;div class=&#x22;form-group&#x22;&#x3E;
        &#x3C;input type=&#x22;submit&#x22; value=&#x22;Register&#x22; class=&#x22;form-control theme-adjust&#x22;&#x3E;
    &#x3C;/div&#x3E;
&#x3C;/div&#x3E;/pre>
        </div>
    </div>
</body>
</html>