<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slideshow ~ Fire UI</title>
    <meta name="title" content="Slideshow ~ Fire UI">
    <meta name="description" content="Quickly design your website with Fire UI, an open-source project aimed to contain everything that is frequently used on the frontend. Fire UI supports a single folder for certain features to reduce CSS file size.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://fire-ui.github.io/">
    <meta property="og:title" content="Navbar ~ Fire UI">
    <meta property="og:description" content="Quickly design your website with Fire UI, an open-source project aimed to contain everything that is frequently used on the frontend. Fire UI supports a single folder for certain features to reduce CSS file size.">
    <meta property="og:image" content="https://fire-ui.github.io/logo.jpg">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://fire-ui.github.io/">
    <meta property="twitter:title" content="Navbar ~ Fire UI">
    <meta property="twitter:description" content="Quickly design your website with Fire UI, an open-source project aimed to contain everything that
    is frequently used on the frontend. Fire UI supports a single folder for certain features to reduce CSS file size.">
    <meta property="twitter:image" content="https://fire-ui.github.io/logo.jpg">
    <link rel="stylesheet" type="text/css" href="../FireUI.css">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <script src="../FireUI.js"></script>
    <link rel="shortcut icon" href="../logo.jpg" type="image/x-icon">
</head>
<body theme="light">
    <div class="fixed-sidenav theme-reverse">
        <a class="fixed-sidenav-item sidenav-title" href="../index.html">Fire UI</a>
        <span class="fixed-sidenav-dropdown-btn" data-dropdown = "gettingStarted">Getting Started <span class="dropdown-icon"></span></span>
        <div class="fixed-sidenav-dropdown-content" id="gettingStarted">
            <a class="fixed-sidenav-item" href="../getting-started/introduction.html">Introduction</a>
            <a class="fixed-sidenav-item" href="../getting-started/download.html">Download</a>
            <a class="fixed-sidenav-item" href="../getting-started/customize.html">Customize</a>
        </div>
        <span class="fixed-sidenav-dropdown-btn" data-dropdown="layout">Layout <span class="dropdown-icon"></span></span>
        <div class="fixed-sidenav-dropdown-content" id="layout">
            <a href="../Layout/container.html" class="fixed-sidenav-item">Container</a>
            <a href="../Layout/grid.html" class="fixed-sidenav-item">Grid</a>
        </div>
        <span class="fixed-sidenav-dropdown-btn" data-dropdown="component">Components <span class="dropdown-icon"></span></span>
        <div class="fixed-sidenav-dropdown-content fixed-sidenav-dropdown-active" id="component">
            <a href="../components/accordion.html" class="fixed-sidenav-item">Accordion</a>
            <a href="../components/box.html" class="fixed-sidenav-item">Box</a>
            <a href="../components/buttons.html" class="fixed-sidenav-item">Buttons</a>
            <a href="../components/code.html" class="fixed-sidenav-item">Code</a>
            <a href="../components/color_theme.html" class="fixed-sidenav-item">Color and theme</a>
            <a href="../components/form.html" class="fixed-sidenav-item">Form</a>
            <a href="../components/modal.html" class="fixed-sidenav-item">Modal</a>
            <a href="../components/navbar.html" class="fixed-sidenav-item">Navigation bar</a>
            <a href="../components/slideshow.html" class="fixed-sidenav-item">Slideshow</a>
            <a href="../components/spacing.html" class="fixed-sidenav-item">Spacing</a>
            <a href="../components/table.html" class="fixed-sidenav-item">Table</a>
            <a href="../components/tabs.html" class="fixed-sidenav-item">Tabs</a>
            <a href="../components/tooltip.html" class="fixed-sidenav-item">Tooltip</a>
        </div>
    </div>
    <div class="main-page">
        <h1>Slideshow</h1>
        <p>Need a collection of images without wasting your pages and time? Slideshow is here for you!
            To use only Fire UI Slideshow feature, copy and paste these stylesheet and script tag into your <code>head</code> element to load Fire UI navbar CSS and JS.
        </p>
        <pre>
&#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;https://unpkg.com/@fire-ui/fire-ui@0.1.1/src/feature/Slideshow/slideshow.css&#x22;&#x3E;
&#x3C;script src=&#x22;https://unpkg.com/@fire-ui/fire-ui@0.1.1/src/feature/Slideshow/slideshow.js&#x22;&#x3E;&#x3C;/script&#x3E;</pre>
        <div class="division">
            <h2>Slideshow</h2>
            <h3>Example</h3>
            <p>Example of slideshow with all classes available combine together:</p>
            <div>
                <div class="slideshow-container">
                    <div class="slideshow">
                      <img src="https://cdn.spacetelescope.org/archives/images/wallpaper2/heic2007a.jpg">
                      <span class="slideshow-caption">Caption One</span>
                    </div>

                    <div class="slideshow slideshow-none">
                      <img src="https://images.ctfassets.net/hrltx12pl8hq/4plHDVeTkWuFMihxQnzBSb/aea2f06d675c3d710d095306e377382f/shutterstock_554314555_copy.jpg">
                      <span class="slideshow-caption">Caption Two</span>
                    </div>

                    <div class="slideshow slideshow-none">
                      <img src="https://wallpaperaccess.com/full/235804.jpg">
                      <span class="slideshow-caption">Caption Three</span>
                    </div>

                    <a class="slideshow-prevBtn" onclick="btnSlide(-1)">&#10094;</a>
                    <a class="slideshow-nextBtn" onclick="btnSlide(1)">&#10095;</a>
                </div>
                <br>

                <div class="slideshow-info">
                    <span class="slideshow-dot" onclick="currentSlide(1)"></span>
                    <span class="slideshow-dot" onclick="currentSlide(2)"></span>
                    <span class="slideshow-dot" onclick="currentSlide(3)"></span>
                </div>
            </div>
            <pre>
&#x3C;div class=&#x22;slideshow-container&#x22;&#x3E;
    &#x3C;div class=&#x22;slideshow&#x22;&#x3E;
        &#x3C;img src=&#x22;https://cdn.spacetelescope.org/archives/images/wallpaper2/heic2007a.jpg&#x22;&#x3E;
        &#x3C;span class=&#x22;slideshow-caption&#x22;&#x3E;Caption One&#x3C;/span&#x3E;
    &#x3C;/div&#x3E;

    &#x3C;div class=&#x22;slideshow slideshow-none&#x22;&#x3E;
        &#x3C;img src=&#x22;https://images.ctfassets.net/hrltx12pl8hq/4plHDVeTkWuFMihxQnzBSb/aea2f06d675c3d710d095306e377382f/shutterstock_554314555_copy.jpg&#x22;&#x3E;
        &#x3C;span class=&#x22;slideshow-caption&#x22;&#x3E;Caption Two&#x3C;/span&#x3E;
    &#x3C;/div&#x3E;

    &#x3C;div class=&#x22;slideshow slideshow-none&#x22;&#x3E;
        &#x3C;img src=&#x22;https://wallpaperaccess.com/full/235804.jpg&#x22;&#x3E;
        &#x3C;span class=&#x22;slideshow-caption&#x22;&#x3E;Caption Three&#x3C;/span&#x3E;
    &#x3C;/div&#x3E;

    &#x3C;a class=&#x22;slideshow-prevBtn&#x22; onclick=&#x22;btnSlide(-1)&#x22;&#x3E;&#x26;#10094;&#x3C;/a&#x3E;
    &#x3C;a class=&#x22;slideshow-nextBtn&#x22; onclick=&#x22;btnSlide(1)&#x22;&#x3E;&#x26;#10095;&#x3C;/a&#x3E;
&#x3C;/div&#x3E;
&#x3C;br&#x3E;

&#x3C;div class=&#x22;slideshow-info&#x22;&#x3E;
    &#x3C;span class=&#x22;slideshow-dot&#x22; onclick=&#x22;currentSlide(1)&#x22;&#x3E;&#x3C;/span&#x3E;
    &#x3C;span class=&#x22;slideshow-dot&#x22; onclick=&#x22;currentSlide(2)&#x22;&#x3E;&#x3C;/span&#x3E;
    &#x3C;span class=&#x22;slideshow-dot&#x22; onclick=&#x22;currentSlide(3)&#x22;&#x3E;&#x3C;/span&#x3E;
&#x3C;/div&#x3E;</pre>
            <p>Note: Need to know that you should put <code>slideshow-none</code> class after the <code>slideshow</code> class <b>EXCEPT</b> the first image.</p>
    </div>
</div>
</body>
</html>